/*
wood brown: A89F68;
army green: 41521F;
*/

/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

/* ESTILOS GENERALES */
* {
	font-family: 'El Messiri', Helvetica, Arial, sans-serif;
}
.box h1{
	font-size: 40px;
	
}

h1, h2, h3 {
	font-weight: 700;
	color: #A89F68;
}

a {
	color: #A89F68 !important;
}
a:hover,
a:focus,
a:active {
	color: #41521F;
}
a,
a:hover,
a:focus,
a:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active {
	transition: .5s all ease;
}
.btn-default {
    color: #fff !important;
    background-color: #41521F !important;
    border: #41521F ;
}
.btn {
	font-weight: 700;
}

.bg-img {
	min-height: 100vh;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	color: #fff;
}
.bg-color {
	background-color: #A89F68;
	color: #fff;
	padding: 5em 0;
}
.bg-color h2 {
	color: #41521F;
}
.bg-color h2 small {
	color: #fff;	
}
ul {
	list-style: none;
	padding: 0;
}

/* NAVBAR */
menu {
	margin: 0;
	padding: 0;
}
.navbar-brand h1 {
    margin: 0;
    padding: 0;
    font-size: 140%;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0,.7);
	transition: .5s all ease;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
}

/* HERO */

header#hero {
	background-image: url(../img/portada.jpg);
	position: relative;
	padding: 100px 0;
}
header#hero h1 {
	font-size: 250%;
}
header#hero .box {
	position: absolute;
	width: 30%;
	
	bottom: 35vh;
}
header#hero .lead {
    font-size: 100%;
	
}
/* FOUNDATION */
#foundation {
	min-height: 100vh;
	padding: 15vh 0;
}
#foundation .box {
	padding-top: 10vh;
}
/*KOALAS SECCION 3*/
#koalas{
	min-height: 30vh;
    padding: 15vh 0;
    background-color: #A89F68; 
}
.lead_white{
	color: #fff;
}
#marco{
	border: 10px #fff solid;
	
}

/*KOALAS4 SECCION 4*/

#koalas h2 {
	color: #41521F !important;
	font-size: 160%;
}
#koalas small{
	color: #fff !important;
	font-size: 50% !important;
	
}
/*Seccion Donate*/
#donate {
	background-image: url(../img/all.jpg);
		
}
#donate small{
	color: #fff !important;
	font-size: 80%;
}
#donate h2{
	font-size: 120%;
	margin: 0.5%;
	margin-top: 1%;
	padding: 0.5%;
}
small.help{
	font-size: 60% !important;
}
.lead2{
	font-size: 50%;
}
/*con_fonawesome*/
#con_fonawesome {
	min-height: 20vh;
	padding: 10vh 0;
}
#titulo{
	color: #A89F68;
	font-size: 24px;
}
.icon {
	color: #A89F68;
	font-size: 50px;
}.seccion-6{
	padding: 5em 0;
}

.titulo-help{
	padding-bottom: 3em;
	color:#A89F68;
}

.fa{
	color:#A89F68;
	padding-bottom: 0.5em;
}

.seccion-6 p{
	color: grey;
}



/*seccion SIETE*/

#donation-options{
	background-color: #A89F68;
	padding: 3.5em 0;
}
#titulo2{
	color: #41521F;
	font-size: 24px;
}
.donar-plan{
	font-size: 1em;
	letter-spacing: 4px;
	padding-right:22px;
	color: #171717
}

.valor{
	font-size: 4em;
}

.precio{
	color: white;
	font-size: 6em;
}

.currency{
	font-size: 16px;
	top: -3em;
	right: 0.5em;
}

.precio small{
	font-size: 14px;
	
}

.caja-donar p{
	font-size: 0.9em;
	color: #191818;
}

.caja-donar a{
	background-color:#41521F ;
	padding: 8px 12px;
	border-radius: 5px;
	color: white;
	border:none;
}

.negrita{
	font-weight: 700px;
	color: #191818;
}

/*FOOTER*/
.containerFooter{
	background-color: #41521F;
	padding: 3.5em 5em;
}
footer .sobre{
	color: #A89F68;
	font-size: 1em;
}

footer p{
	color: white;
	font-size: 0.8em;
}

footer a{
	color:#A89F68;
}

footer a:hover{
	color:white;
}

footer .menu-footer{
	padding-top:1.9em;
	padding: auto;
	text-align: center;
}

footer .menu-footer li{
	list-style-type:none;
	font-size: 0.85em;
}